* {
	box-sizing: border-box;
}

@media (max-width: 1200.5px) {
}

@media (max-width: 768.5px) {
}

@media (max-width: 480.5px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}
}
