* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 10em 25% 200px;
	row-gap: 1em;
}

header {
	background-color: navy;
	color: white;
}

.menu {
	background-color: red;
	color: white;
}

.menu ul li {
	text-decoration: none;
	list-style-type: none;
}

.hero {
	background-color: skyblue;
	width: 100%;
	height: max-content;
}

main {
	background-color: darkblue;
	color: white;
}

.banner {
	background-color: yellow;
}

.extra-content {
	background-color: palevioletred;
}

.img-container {
	background-color: green;
}

img {
	width: 100%;
	height: auto;
}

@media (max-width: 1200.5px) {
}

@media (max-width: 768.5px) {
}

@media (max-width: 480.5px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, auto);
	}
}
